footer {
    display: flex;
    background-color: #aed6f1;
    flex-direction: row;
    bottom: 0;

    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
}
.footerleft {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
}
.footerright {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0, 0.5);
    padding: 10px 0px;
}
.title {
    font-weight: 1000;
    font-size: 17px;
}
