.artikels {
    background-color: #24354d;
    padding: 0px 10%;
    height: 100%;
}
.home {
    display: flex;
    flex-direction: column;
}
.hometags {
    font-weight: 300;
    font-size: 13px;
}
.mainwrapper {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 10rem;
}
.search {
    display: flex;
    flex-direction: row;
    background-color: #fffeff;
    border-radius: 30px;
    padding: 20px 30px;
    width: 50vh;
    justify-content: space-between;
    border: 2px solid #fffeff;
}
.search.active {
    border: 2px solid #00e783;

}
.search-button{
    background: none;
    border: none;
    cursor: pointer;    
}
#search-icon{
    color: #24354d;
    transition: all 0.3s ease ;
}
#search-icon:hover{
    color: #00e783;
    transform: scale(1.5);
}
.search-box {
    background-color: #a9e1c9;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 100%;
    width: 95%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    background-color: #fffeff;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.artikels {
    height: 100%;
}
.tags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.tag {
    color: white;
    background-color: #242b36;
    border-radius: 20px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 13px;
}
.artikel {
    background-color: #f5f5f5;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}
.bovenkant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.onderkant {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.onderkantlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.artikeltags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: row;
}
.artikeltag {
    color: white;
    background-color: #242b36;
    border-radius: 20px;
    margin-left: 20px;
    padding: 3px 7px 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 254, 255, 1);
    font-weight: 500;
    font-size: 13px;
}
.title {
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-size: 17px;
    color: #242b36;
}
.username {
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    color: #34A172;
    font-weight: 400;
    font-size: 16px;
}
.fa-solid.fa-thumbs-up,
.fa-solid.fa-thumbs-down {
    margin-right: 5px;
}

.onderkantrechts .tags .artikeltag:hover {
    background-color: rgba(36, 43, 54, 0.8);
    color: rgba(255, 254, 255, 0.8);
}

.onderkantrechts .tags .artikeltag {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
