@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

/* Globale CSS variabelen */
:root{
    --primary: #FC7D7D;
    --primary_alt: #d87171;
    --light: #eee;
    --dark_accent: #24252A;
    --grey: #CFCFCF;
    --green: #76D7C4;
}

/* Een aantal properties resetten */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: #CFCFCF; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #4070f4; */
    background: var(--grey);
}
.wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper h2{
    position: relative;
    font-style: 22px;
    font-weight: 600;
    columns: #333;
}
.wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    /* background: #4070f4; */
    background: var(--primary);
}
.wrapper form{
    margin-top: 30px;
}
.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    /* border-color: #4070f4; */
    border-color: var(--primary);
}

form .policy{
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
form .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    /* background: #4070f4; */
    background: var(--primary);
    cursor: pointer;
}
form .input-box.button input:hover{
    /* background: #0e4bf1; */
    background: var(--primary_alt);
}
form .text h3{
    color: #333;   
    width: 100%;
    text-align: center;
}
form .text h3 a{
    /* color: #4070f4; */
    color: var(--primary);
    text-decoration: none;
}
form .text h3 a{
    text-decoration: underline;
}
.err-text{
    color: red;
}